.wrapp {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.6px;
  color: brown;
}

.btn {
  height: 30px;
  padding: 10px;
  text-align: center;
  color: brown;
  background-color: goldenrod;
  font-size: 20px;
  line-height: 1.6px;
  margin-left: 10px;
  border: 1px solid brown;
  border-radius: 5px;
  cursor: pointer;
}
